<title>Reusable Form Demo</title>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message[1] }}</li>
            {% endfor %}</ul>
    {% endif %}
{% endwith %}
<form action="" method="post">
    {{ form.csrf }}
    <div class="input text">
        {{ form.number.label }} {{ form.number }}
    </div>
    <div class="input text">
        {{ form.average_grade.label }} {{ form.average_grade }}
    </div>
    <div class="input text">
        {{ form.median_grade.label }} {{ form.median_grade }}
    </div>
    <div class="input text">
        {{ form.max_grade.label }} {{ form.max_grade }}
    </div>
    <div class="input text">
        {{ form.number_of_solutions.label }} {{ form.number_of_solutions }}
    </div>
    <div class="input select">
        {{ form.test_id.label }} {{ form.test_id }}
    </div>
    <div class="input submit">
        <input type="submit" value="Submit"></div>
</form>